@use 'sass:map';
@use '../../variables' as variables;
@use '../../genFont' as genFont;

.navbar__link {
  padding: 1px 7px;
  @include genFont.generateFont('navbar');

  &:visited {
    color: map.get(variables.$mainColors, 'linkColor');
  }
}