.carousel {
  width: 1110px;
  height: 555px;
  margin: 60px auto 0;

  & > div {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }
}

@media screen and (max-width: 1110px) {
  .carousel {
    width: 100%;
  }
}