@use 'sass:map';
@use '../../../genFont' as genFont;
@use '../../../variables' as variables;

.map-of-new-artifacts__description-block__heading {
  margin-bottom: 8px;
  @include genFont.generateFont('artifact-card-heading');
  color: map.get(variables.$mainColors, 'bgColor');
}