@use 'sass:map';
@use './variables' as variables;
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@mixin generateFont($type) {
  @if ($type == 'navbar') {
    font: {
      family: 'Open Sans', sans-serif;
      weight: 400;
      size: 16px;
    }
    color: map.get(variables.$mainColors, 'white');
    text: {
      decoration: none;
      align: center;
    }
  } @else if ($type == 'explore-btn') {
    font: {
      family: 'Open Sans', sans-serif;
      weight: 700;
      size: 16px;
    }
    color: map.get(variables.$mainColors, 'primary_green');
    text-decoration: none;
    line-height: 23px;
  } @else if ($type == 'wrapper-heading') {
    font: {
      family: "Cormorant", serif;
      optical-sizing: auto;
      weight: 700;
      style: normal;
      size: 60px;
    }
    color: map.get(variables.$otherColors, 'wrapperHeadingColor');
  } @else if ($type == 'wrapper-description') {
    font: {
      family: 'Open Sans', sans-serif;
      weight: 400;
      size: 16px;
    }
    color: map.get(variables.$otherColors, 'wrapperDescriptiongColor');
    line-height: 150%;
  } @else if ($type == 'more-detailed-btn') {
    font: {
      family: 'Open Sans', sans-serif;
      weight: 400;
      size: 16px;
    }
    color: map.get(variables.$mainColors, 'primary_green');
  } @else if ($type == 'artifact-card-heading') {
    font: {
      family: 'Cormorant', sans-serif;
      weight: 700;
      size: 24px;
    }
    line-height: 150%;
    color: map.get(variables.$mainColors, 'linkColor');
  } @else if ($type == 'artifact-card-description') {
    font: {
      family: 'Open Sans', sans-serif;
      weight: 400;
      size: 16px;
    }
    line-height: 150%;
    color: map.get(variables.$mainColors, 'greyColor');
  } @else if ($type == 'artifact-card-rate') {
    font: {
      family: 'Cormorant', sans-serif;
      weight: 700;
      size: 16px;
    }
    line-height: 17px;
    text-align: center;
    color: map.get(variables.$mainColors, 'greyColor');
  } @else {
    @error 'неверный набор свойств шрифта (#{$type})';
  }
}