$mainColors: (
        bgColor: #1D2F30,
        primary_green: #BAE249,
        green_focus: #83A440,
        green_active: #688B05,
        linkColor: #fff,
        bgShade: #0B1919,
        greyColor: #899D9D
);

//TODO: нужно позже отредактировать нейминг
$otherColors: (
        wrapperHeadingColor: #fff,
        wrapperDescriptiongColor: #fff
);