$mainColors: (
        bgColor: #1D2F30,
        primary_green: #BAE249,
        green_focus: #83A440,
        green_active: #688B05,
        linkColor: #fff
);

//TODO: нужно позже отредактировать нейминг
$otherColors: (
        wrapperHeadingColor: #fff,
        wrapperDescriptiongColor: #fff
);