@use 'sass:map';
@use '../../variables' as variables;
@use '../../genFont' as genFont;

.artifact-card__description {
  width: 223px;
  margin: 0 auto;

  & > h3 {
    height: 36px;
    @include genFont.generateFont('artifact-card-heading');
    margin-bottom: 8px;
  }

  & > p {
    width: inherit;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    @include genFont.generateFont('artifact-card-description');
    margin-bottom: 16px;
  }
}