@use 'sass:map';
@use '../variables' as variables;

.more-detailed-btn--hover:hover {
  color: map.get(variables.$mainColors, 'bgShade');
  background: map.get(variables.$mainColors, 'primary_green');
}