@use 'sass:map';
@use '../variables' as variables;

.more-detailed-btn--disabled:disabled {
  border-color: map.get(variables.$mainColors, 'greyColor');
  color: map.get(variables.$mainColors, 'greyColor');
}