.header--adaptive {
  container-type: inline-size;
  container-name: header;
}

@container header (max-width: 1110px) {
  .logo {
    margin-left: 5%;
  }

  .search-and-login-panel {
    margin-right: 5%;
  }
}

@container header (max-width: 700px) {
  .header > div {
    margin-top: calc(calc(60px - 24px) / 2);
  }

  .navbar {
    width: 100%;
    position: absolute;
    top: 60px;
    overflow-x: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}