@use 'sass:map';
@use '../variables' as variables;

.header {
  width: 100%;
  height: 60px;

  & > div {
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}