.map-of-new-artifacts {
  width: 1110px;
  height: 571px;
  margin: 0 auto;
  display: grid;
  grid-template: 48px 493px / 825px 255px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}